/* Main Stylesheet */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  background-color: rgb(249, 249, 249);
  font-family: "Open Sans", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}

/* Global Container */

.global-container {
  margin: 0 auto;
  padding: 50px 48px 60px 46px;
  width: 964px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgb(219, 219, 219);
}

/* Main Menu */

.menu {
  margin-top: 40px;
  height: 40px;
  background: linear-gradient(rgb(94, 94, 94), rgb(68, 67, 67));
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  margin-right: 43px;
  padding: 0 24px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

.menu li a:hover {
  padding: 0 23px;
  border-right: 1px solid rgb(131, 131, 131);
  border-left: 1px solid rgb(131, 131, 131);
  background: linear-gradient(rgb(74, 74, 74), rgb(46, 46, 46));
}

/* Sidebar */

.sidebar {
  margin-top: 40px;
  width: 238px;
  float: left;
  border: 1px solid rgb(200, 200, 200);
}

.sidebar li {
  border-bottom: 1px solid rgb(200, 200, 200);
}

.sidebar li a {
  display: block;
  padding-left: 15px;
  height: 38px;
  line-height: 38px;
  font-size: 13px;
  color: rgb(101, 99, 99);
  text-decoration: none;
}

.sidebar li:last-child {
  border-bottom: none;
}

.sidebar li:hover {
  background: rgba(0, 0, 0, 0.05);
}

.sidebar li a.active {
  padding-left: 25px;
  color: rgb(44, 44, 44);
  background-color: rgb(249, 249, 249);
}

/* Content Container */

.content {
  float: right;
  width: 678px;
}

/* Content Image */

.photo {
  display: flex;
  margin-top: 40px;
  height: 398px;
  border: 1px solid rgb(200, 200, 200);
  justify-content: center;
  align-items: center;
}

/* Content Text */

.content p {
  margin-top: 34px;
  margin-bottom: 57px;
  padding: 0px 25px;
  float: right;
  font-size: 13px;
  line-height: 21px;
  word-wrap: break-word;
}

/* Footer */

.footer {
  clear: both;
  height: 40px;
  background-color: rgb(225, 225, 225);
}

.footer li {
  float: left;
  height: 40px;
  text-align: center;
  font-size: 13px;
  line-height: 40px;
}

.footer li a {
  display: block;
  padding: 0px 37px;
  color: rgb(44, 44, 44);
  text-decoration: none;
}

.footer li a:hover {
  text-decoration: underline;
}

.footer li a:visited {
  color: rgb(44, 44, 44);
}

.footer .rights {
  padding: 0px 25px;
  float: right;
  color: rgb(44, 44, 44);
}