/* Main Stylesheet for IE */

body {
  min-width: 960px;
}

header,
nav,
section,
article,
aside,
figure,
figcaption,
footer {
  display: block;
}

/* Common */

.text-960 {
  display: inline-block;
}

.block-960 {
  display: block;
}

.wrapper {
  max-width: 960px;
}

/* Slider */

.slider {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#33000000); 
  zoom: 1;
}

.slider__arrow--left,
.slider__arrow--right,
.slider__img--left,
.slider__img--right {
  width: 24px;
  height: 37px;
}

.slider__img--left {
  background: url(../img/sprite.png) -325px -78px;
}

.slider__img--right {
  background: url(../img/sprite.png) -352px -78px;
}

/* About Block */

.about {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#745083, endColorstr=#322539);
  zoom: 1;
}