/* Main stylesheet*/

.main-block {
  margin: 0 auto;
  width: 500px;
}

/*.centered-content {
  text-align: center;
}*/

.page-block {
  /*margin: 10px 0px 20px;*/
  /*margin: 0 auto;*/
  /*font-family: "Myriad Pro", sans-serif;*/
}

.page-block h1 {
  text-align: center;
}

.page-block img {
  display: block;
  margin: 0 auto;
  width: 200px;
}

.shifted {
  margin-left: 45px;
}

.job-title {
  font-family: arial;
  font-size: 14px;
}

.italic {
  font-style: italic;
}

.header-one {
  font-family: arial;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
}
