/* Main Stylesheet */

body {
  margin: 0px auto;
  padding-top: 17px;
  width: 910px;
}

/* Header */

.header:after {
  display: table;
  clear: both;
  content: "";
}

/* Contacts */

.contacts {
  float: left;
  margin: 3px 0px 7px 7.5px;
  font-family: Arial, "Helvetica Neue", "Helvetica CY", "Nimbus Sans L", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: rgb(94, 105, 109);
  letter-spacing: 0.45px;
}

.contacts:before {
  display: block;
  float: left;
  margin: 2px 4px 0px 1px;
  padding-top: 1px;
  width: 21px;
  height: 20px;
  background: linear-gradient(rgb(12, 51, 87), rgb(30, 101, 132));
  border-radius: 100%;
  text-align: center;
  content: url(../img/phone-pipe.png);
}

/* Login Panel */

.auth-form {
  position: relative;
  float: left;
  margin-left: 16px;
  padding: 3px 7px;
  width: 481px;
  height: 19px;
  background: linear-gradient(rgb(31, 103, 135), rgb(12, 51, 87));
  border-radius: 4px;
  border-top: 1px solid rgb(166, 195, 207);
  border-bottom: 1px solid rgb(89, 109, 128);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.35);
}

.auth-form:before {
  display: block;
  float: left;
  margin-top: 1px;
  width: 14px;
  height: 18px;
  content: url(../img/auth-logo.png);
}

.auth-form input,
.auth-form a {
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 12px;
  letter-spacing: -0.8px;
}

.auth-form .auth-form-login,
.auth-form .auth-form-password {
  display: block;
  float: left;
  margin: 0px 3px;
  padding: 0px 0px 2px;
  width: 113px;
  height: 14px;
  border: 1px solid rgb(130, 148, 156);
  border-radius: 2px;
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
  text-indent: 4px;
  letter-spacing: -1px;
}

.auth-form .auth-form-submit {
  display: block;
  float: left;
  margin: 0px 5px 0px 4px;
  padding: 0px;
  background: transparent;
  border: none;
  color: white;
}

.auth-form .auth-form-submit:hover {
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.75);
}

.auth-form .auth-form-register {
  margin-left: 4px;
  text-decoration: none;
  color: white;
}

.auth-form .auth-form-register:hover {
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.75);
}

/* Login-Register Splitter */

.auth-form-register:before {
  display: block;
  float: left;
  margin-top: 5px;
  width: 1px;
  height: 10px;
  background-color: white;
  content: "";
}

/* Forgotten pass */

.auth-form .auth-form-forgotten-pass {
  display: inline-block;
  margin-left: 17px;
  height: 13px;
  border-bottom: 1px solid rgb(124, 135, 148);
  text-decoration: none;
  color: rgb(191, 191, 191);
  letter-spacing: 0px;
}

.auth-form .auth-form-forgotten-pass:hover {
  text-shadow: 0px 0px 2px rgba(200, 200, 200, 0.75);
}

/* Navigation Buttons Group */

.nav-btn-group {
  position: relative;
  float: left;
  margin: 2px 0px 0px 17px;
  padding: 2px 4px;
  width: 67px;
  height: 15px;
  border: 1px solid rgb(193, 200, 203);
  border-radius: 12px;
  background: white;
}

.nav-btn-group:before {
  position: absolute;
  top: 4px;
  left: 6px;
  width: 63px;
  height: 13px;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.25);
  transform: rotate(2deg);
  content: "";
  z-index: -1;
}

.nav-btn-group:after {
  display: table;
  clear: both;
  content: "";
}

.nav-btn-group li {
  display: inline-block;
  float: left;
  margin: 0px 4px;
  line-height: 21px;
}

.nav-btn-group img {
  display: block;
}

.nav-btn-map img {
  margin-top: 1px;
}

.nav-btn-mail img {
  margin: 2px 1px 0px;
}

/* Site Logo */

.logo {
  float: left;
  margin-left: 1px;
  width: 909px;
  height: 237px;
  background: url(../img/logo-photo.png);
}

.logo a {
  display: block;
  margin: 100px 0px 0px 2px;
  width: 266px;
  height: 70px;
}

/* Main Panel */

.main-menu {
  float: left;
  margin: 6px 0px 12px;
  width: 100%;
  height: 32px;
  background: linear-gradient(to bottom, rgba(88, 97, 111, 1) 0%, rgba(42, 46, 50, 1) 16%, rgba(1, 1, 1, 1) 100%);
  border: 1px solid rgb(44, 52, 90);
  border-radius: 7px / 3px;
  box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.6);
}

.main-menu ul {
  float: left;
  margin-left: 126px;
}

.main-menu li {
  display: inline-block;
  height: 32px;
}

.main-menu ul a {
  padding: 3px 13px 2px;
  border-radius: 12px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 14px;
  line-height: 33px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(177, 188, 192);
  letter-spacing: -0.27px;
}

.main-menu .menu-about {
  padding: 3px 18px 2px 21px;
}

.main-menu .menu-contacts {
  padding: 3px 9px 2px;
}

.main-menu ul a:hover {
  background: linear-gradient(to bottom, rgba(31, 103, 135, 1) 0%, rgba(27, 90, 123, 1) 25%, rgba(13, 52, 88, 1) 100%);
  border-radius: 15px;
  color: white;
}

.main-menu p {
  float: right;
  position: relative;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
  line-height: 30px;
  color: rgb(146, 155, 159);
}

.main-menu span {
  position: absolute;
  top: 1px;
  font-size: 12px;
  color: rgb(13, 90, 143);
  letter-spacing: 0.4px;
  white-space: nowrap;
  font-weight: 600;
}

.main-menu .total {
  margin-right: 74px;
  letter-spacing: 0.25px;
}

.main-menu .goods {
  margin-right: 23px;
  letter-spacing: 0.4px;
}

.main-menu .total span {
  right: -62px;
}

.main-menu .goods span {
  left: 49px;
}

.cart {
  float: right;
  margin: 7px 7px;
}

/* Search Forms */

/* Search By Car Form */

.search {
  float: left;
  border: 1px solid rgb(182, 182, 183);
  border-radius: 18px;
  box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.3);
  font-family: Arial, "Helvetica Neue", "Helvetica CY", "Nimbus Sans L", Helvetica, sans-serif;
}

.search .title {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.4px;
}

.search-by-car {
  margin-left: 5px;
  padding: 1px 13px 0px 17px;
  width: 383px;
  height: 131px;
  box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.4);
}

.search-by-car:after {
  display: table;
  clear: both;
  content: "";
}

.search p {
  float: left;
  margin-left: 3px;
  font-size: 10px;
  font-weight: 900;
  line-height: 16px;
  color: rgb(21, 68, 103);
  letter-spacing: 0.4px;
}

.search-by-car .title {
  margin-left: 65px;
}

.search-by-car .tire {
  margin-left: 71px;
  line-height: 13px;
}

.search-by-car dt {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  float: left;
  clear: left;
  padding-bottom: 1px;
  width: 76px;
  height: 15px;
  font-size: 10px;
  font-weight: bold;
  line-height: 8px;
}

.search-by-car span {
  font-size: 9px;
  font-weight: normal;
  letter-spacing: 0px;
  color: rgb(119, 133, 139);
}

.search-by-car dd {
  display: block;
  position: relative;
  float: left;
  margin-bottom: 5px;
  width: 100px;
  height: 15px;
  border-top: 2px solid rgb(148, 148, 148);
  border-left: 2px solid rgb(148, 148, 148);
}

.search-by-car dd:after {
  position: absolute;
  top: -2px;
  right: 0px;
  width: 18px;
  height: 18px;
  content: url(../img/down-arrow.png);
  z-index: 1;
}

.search-by-car select {
  position: relative;
  width: 100px;
  height: 17px;
  background: transparent;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  z-index: 2;
}

.search-by-car select::-ms-expand {
    display: none;
}

.search-by-car .model-title {
  padding-top: 2px;
  margin-bottom: 4px;
}

.search-by-car .model-title label {
  letter-spacing: 0.1px;
}

.search-by-car .model-title span {
  letter-spacing: 0.4px;
}

.search-by-car .year-title {
  padding-top: 2px;
  margin-bottom: 4px;
}

.search-by-car .year-title label {
  letter-spacing: -0.3px;
}

.search-by-car .year-title span {
  letter-spacing: 0.4px;
}

.search-by-car .column-tire .year-title label {
  font-size: 9px;
}

.search-by-car .year {
  width: 56px;
}

.search-by-car .year-title label {
  letter-spacing: -0.3px;
}

.search-by-car .equipment-title  {
  line-height: 12px;
}

/* Part of the First Form Column Disc */

.column-disc {
  clear: left;
  float: left;
  margin-top: 3px;
  width: 178px;
}

.column-disc:after {
  display: table;
  clear: both;
  content: "";
}
/* Part of the First Form Column Tire */

.column-tire {
  clear: right;
  float: right;
  margin-top: 1px;
  width: 178px;
}

.column-tire:after {
  display: table;
  clear: both;
  content: "";
}

/* Search Button */

.search-button {
  clear: right;
  float: right;
  position: relative;
  background: transparent;
  border: none;
  font-size: 14px;
  font-style: italic;
  color: rgb(21, 68, 103);
  letter-spacing: 0.15px;
}

.search-button:after {
  display: block;
  position: absolute;
  top: 16px;
  width: 52px;
  height: 0px;
  border-top: 1px solid rgb(163, 177, 188);
  border-bottom: 1px solid rgb(153, 166, 179);
  content: "";
}

/* Search Tire Form */

.search-tire {
  margin: -1px 0px 0px 14px;
  width: 179px;
  height: 128px;
  padding: 3px 6px;
}

.search-tire .title {
  float: none;
  letter-spacing: 0.2px;
}

.search-tire dl {
  margin-top: 7px;
  height: 21px;
}

.search-tire dl:after {
  display: table;
  clear: both;
  content: "";
}

.search-tire dt {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  float: left;
  clear: left;
  padding: 2px 5px 1px 0px;
  width: 47px;
  height: 15px;
  font-size: 10px;
  font-weight: bold;
  line-height: 8px;
}

.search-tire dd {
  position: relative;
  float: left;
  margin-bottom: 5px;
  width: 119px;
  height: 14px;
}

.search-tire span {
  display: inline-block;
  padding: 0px 5px;
  font-size: 14px;
}

/*.search-tire dd:after {
  position: absolute;
  top: -2px;
  right: 0px;
  width: 18px;
  height: 18px;
  content: url(../img/down-arrow.png);
  z-index: 1;
}*/

.search-tire select {
  position: relative;
  width: 52px;
  height: 17px;
  background: transparent;
  border: none;
  border-top: 2px solid rgb(148, 148, 148);
  border-left: 2px solid rgb(148, 148, 148);
  -webkit-appearance: none;
  -moz-appearance: none;
  z-index: 2;
}

.search-tire select::-ms-expand {
  display: none;
}

/* Search Disc Form */

.search-disc {
  margin: -2px 0px 0px 10px;
  width: 254px;
  height: 126px;
  padding: 4px 6px;
}

.search-disc .title {
  letter-spacing: 0.95px;
}






.tmp {
  width: 100px;
  height: 500px;
}