body {
    min-width: 480px;
    padding: 20px 0;
    background: url("../img/concrete-texture.png") repeat;
}

.stopwatch_board {
    font-family: "Lucida Console", Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 90px;
    text-align: center;
}