body {
  padding: 20px;
  background: url("../img/concrete-texture.png") repeat;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-block {
  margin: 0 auto;
  padding: 50px 0px;
  width: 500px;
}

/* Header */

.header {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", Sans-serif;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(199, 196, 195);
}

.header h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: rgb(1, 1, 1);
}

.header img {
  display: block;
  margin: 29px auto;
  width: 200px;
  border: 1px solid rgb(143, 143, 143);
}

.header p {
  margin-top: 23px;
  font-size: 14px;
  color: rgb(31, 31, 31);
  opacity: 0.8;
}

/* Content */

.content {
  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 14px;
}

.content h2 {
  margin: 20px 0px 0px 0px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(31, 31, 31);
}

.content h2 + p, .content h2 + a {
  display: block;
  margin-top: 24px;
}

.content p {
  margin-left: 35px;
  color: rgb(58, 58, 58);
}

.content a {
  margin-left: 35px;
  font-style: italic;
  color: rgb(0, 86, 211);
}

.decorated-list {
  margin: 26px 0px 0px 32px;
  list-style: disc;
  color: rgb(59, 59, 59);
  font-size: 14px;
  line-height: 18px;
}

.top-separated {
  padding-top: 20px;
  border-top: 1px solid rgb(213, 214, 216);
}

