<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FE_JS_12_BONUS</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="lib/jquery-3.2.1/js/jquery-3.2.1.min.js"></script>
  <script src="js/templating.js"></script>
  <script src="js/script.js"></script>
</head>
<body>
  <script type="text/html" id="item_tmpl">
    <div class="main-block">
      <header class="header">
        <h1><%= fullName %></h1>
        <img src="img/img-01.png" alt="<%= fullName %>">
        <p><%= job %></p>
      </header>
      <div class="content">
        <h2><%= reasonsTitle %></h2>
        <ul class="decorated-list">
          <li><%= reasons[0] %></li>
          <li><%= reasons[1] %></li>
          <li><%= reasons[2] %></li>
        </ul>
        <h2 class="top-separated"><%= contactsTitle %></h2>
        <p><%= phoneNumber %></p>
        <h2><%= profileTitle %></h2>
        <a href="<%= profileLink %>"><%= profileName %></a>
        <h2 class="top-separated"><%= feedbackTitle %></h2>
        <p><%= feedback %></p>
      </div>
    </div>
  </script>
</body>
</html>