/* Spot Fixes */

/* Margin Top */

.mt-1 {
  margin-top: 1px;
}

.mt-2 {
  margin-top: 2px;
}

.mt-9 {
  margin-top: 9px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-22 {
  margin-top: 22px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-76 {
  margin-top: 76px;
}

.mt-100 {
  margin-top: 100px;
}

/* Margin Right */

.mr-0 {
  margin-right: 0;
}

.mr-3 {
  margin-right: 3px;
}

/* Margin Left */

.ml-75 {
  margin-left: 75px;
}

.ml-64 {
  margin-left: 64px;
}

.ml-66 {
  margin-left: 66px;
}

.ml-68 {
  margin-left: 68px;
}

.ml-114 {
  margin-left: 114px;
}

.ml-116 {
  margin-left: 116px;
}
