/* Main Stylesheet */

body {
  background: url(../img/background.png) no-repeat center center fixed; 
  background-size: cover;
}

/* Header */

.header {
  height: 36px;
  background: url(../img/upper_panel_mini.png);
}

/* Content */

.content {
  min-height: 96.1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form */

.main-form {
  margin: 20px 0px;
  width: 560px;
}

.form-header {
  height: 62px;
  background-color: rgba(0, 0, 0, 0.63);
  font-size: 24px;
  line-height: 62px;
  color: white;
  text-align: center;
}

.form-body {
  margin-top: 2px;
  padding: 36px 142px 26px;
  background-color: rgba(0, 0, 0, 0.63);
  font-size: 14px;
}

/* Facebook Button */

.btn-facebook {
  display: block;
  position: relative;
  padding-left: 70px;
  height: 35px;
  text-decoration: none;
  border-top: 1px solid rgb(117, 139, 180);
  border-radius: 3px 3px 4px 4px;
  background: linear-gradient(rgb(61, 87, 146), rgb(51, 65, 102));
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 15px;
  line-height: 35px;
  color: white;
}

.btn-facebook:before {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 37px;
  height: 36px;
  content: url('../img/facebook-logo.png');
  line-height: 42px;
  text-align: center;
}

.btn-facebook:after {
  position: absolute;
  top: -1px;
  left: 38px;
  height: 36px;
  border-left: 1px solid rgb(32, 58, 117);
  border-right: 1px solid rgb(77, 104, 171);
  content: "";
}

.btn-facebook p:after {
  position: absolute;
  top: 0;
  right: 25px;
  height: 36px;
  line-height: 38px;
  content: url("../img/right-triangle.png");
}

.btn-facebook b {
  font-weight: bold;
}

.btn-facebook:hover {
  background: linear-gradient(rgb(71, 107, 176), rgb(61, 75, 112));
  box-shadow: 0px 0px 5px 0px rgb(79, 138, 178);
  transition: 0.2s all;
}

.btn-facebook:active {
  background: linear-gradient(rgb(41, 67, 116), rgb(31, 55, 82));
  box-shadow: inset 0px 0px 5px 0px rgb(79, 138, 178);
}

/* Splitter */

.splitter {
  margin: 30px auto 22px;
  width: 276px;
  height: 16px;
  text-align: center;
  font-size: 14px;
  color: rgb(153, 153, 153);
}

.splitter:before {
  /*background: url(../img/splitter.png) no-repeat;*/
}

.splitter:after {
  /*background: url(../img/splitter.png) no-repeat;*/
}

/*.splitter {
  margin: 30px auto 22px auto;
  width: 276px;
  height: 16px;
  background: url(../img/splitter.png) no-repeat;
  background-position: 0px 7px;
  text-align: center;
  font-size: 14px;
  color: rgb(153, 153, 153);
}*/



.reg-field {
  display: block;
  /*margin: 19px 0px;*/
  /*padding-left: 19px;*/
  /*width: 257px;*/
  height: 35px;
  background-color: black;
  border: none;
  color: white;
  border-bottom: 1px solid rgb(72, 72, 72);
  /*box-sizing: border-box;*/
}

.reg-field:hover {
  background-color: rgb(7, 22, 36);
  border-bottom: 1px solid rgb(54, 105, 134);
  box-shadow: 0px 0px 5px 0px rgba(79, 138, 178, 1);
  transition: 0.2s all;
}

.reg-field:focus {
  background-color: rgb(27, 82, 136);
  border-bottom: 1px solid rgb(104, 155, 204);
  box-shadow: 0px 0px 10px 2px rgba(79, 138, 178, 1);
  transition: 0.2s all;
}

.agreement-box {
  display: block;
  margin: 0 auto;
  width: 276px;
  color: rgb(204, 204, 204);
}

.agreement-box > input {
  position: relative;
  top: 1px;
  margin-right: 6px;
}

.btn-create {
  display: block;
  margin: 23px auto;
  width: 151px;
  height: 37px;
  background: url(../img/btn-create.png) no-repeat;
  border: none;
  color: white;
}

.btn-create:hover {
  color: #FBFBFB;
  opacity: 0.8; 
  filter: alpha(opacity = 80);
}

.comment {
  text-align: center;
  color: rgb(204, 204, 204);
  font-size: 11px;
  line-height: 16px;
}