<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FE_JS_16</title>
  <link rel="stylesheet" href="lib/bootstrap-4.0.0-beta/css/bootstrap.min.css">
  <link rel="stylesheet" href="lib/bootstrap-4.0.0-beta/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="lib/bootstrap-4.0.0-beta/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="lib/jquery-3.2.1/jquery-3.2.1.min.js"></script>
  <script src="lib/popper.js-1.11.1/js/popper.min.js"></script>
  <script src="lib/bootstrap-4.0.0-beta/js/bootstrap.min.js"></script>
  <script src="lib/lodash/js/lodash.js"></script>
  <script src="js/script.js"></script>
  <script type="text/html" id="controls">
    <% if (constants.TEST_STATUS.IN_EDITING !== status) { %>
    <button type="button" class="btn btn-test btn-info btn-start"><%= processButtonTitle %></button>
    <% } %>
    <% if (constants.TEST_STATUS.INITIAL === status || constants.TEST_STATUS.IN_EDITING === status) { %>
    <button type="button" class="btn btn-test btn-primary btn-edit"><%= constants.TEST_STATUS.INITIAL === status ? 'Edit Test' : 'Continue Editing' %></button>
    <% } %>
  </script>
  <script type="text/html" id="nav-pane">
    <nav class="navbar navbar-inverse navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="index.html"><%= title %></a>
        <span class="navbar-text navbar-timer">00:00:00</span>
      </div>
    </nav>
  </script>
  <script type="text/html" id="questions-pane">
    <ul class="nav nav-pills">
      <% for (var i = 0; i < ids.length; ++i) { %>
      <% var isSkipped = localStorage.getItem('test.skipped.' + ids[i]); %>
      <% var isAnswered = !$.isEmptyObject(localStorage.getItem('test.skipped.' + ids[i])); %>
      <li class="nav-item">
        <a class="nav-link <%= isSkipped ? constants.SKIPPED_CLASS : isAnswered ? constants.ANSWERED_CLASS : '' %>" href="#<%=ids[i]%>"><%= i + 1 %></a>
      </li>
      <% } %>
      <% if (constants.TEST_STATUS.IN_EDITING === status) { %>
      <li class="nav-item">
        <a class="nav-link plus-question" href="#"><img src="img/plus-2x.png" alt="+"></a>
      </li>
      <% } %>
    </ul>
  </script>
  <script type="text/html" id="question">
    <div class="question-card">
      <div class="card card-primary card-inverse">
        <h4 class="card-header"><%- title %></h4>
        <div class="card-block">
          <ul class="list-group list-group-flush btn-group options-group" data-toggle="buttons">
            <% var isFinished = constants.TEST_STATUS.FINISHED === status; %>
            <% var isAnswered = !$.isEmptyObject(answers); %>
            <% $.each(options, function(key, value) { %>
            <% var isExist = $.inArray(key, answers) > -1; %>
            <% var isCorrect = $.inArray(key, correct) > -1; %>
            <li class="list-group-item <%= isExist ? constants.SELECTED_CLASS : '' %>
            <%= (isFinished ? (isCorrect ? constants.CORRECT_ANSWERED_CLASS : (isExist ? constants.WRONG_ANSWERED_CLASS : '')) : '') %>">
              <label class="btn btn-primary">
                <input type="<%=type%>" name="<%= id %>" value="<%= key %>"
                <%= isExist ? 'checked' : '' %>
                <%= isAnswered || isFinished ? 'disabled' : '' %> >
                <span><%= value %></span>
              </label>
            </li>
            <% }); %>
          </ul>
        </div>
      </div>
      <button type="button" class="btn btn-warning btn-stop"><%= isFinished ? 'Back to the beginning' : 'Stop Test' %></button>
      <% if (!isAnswered && !isFinished) { %>
      <button type="button" class="btn btn-info btn-submit">Submit</button>
      <% if (!isSkipped) { %>
      <button type="button" class="btn btn-secondary btn-skip">Skip</button>
      <% }} %>
    </div>
  </script>
  <script type="text/html" id="modal">
    <div class="modal-window">
      <div class="modal-window-content">
        <div class="modal-window-header">
          <span class="btn-close">&times;</span>
          <h3 class="modal-title"><%= title %></h3>
        </div>
        <div class="modal-window-body">
          <p class="modal-text"><%= text %></p>
        </div>
        <div class="modal-window-footer clearfix">
          <button type="button" class="btn btn-secondary btn-cancel">Cancel</button>
          <button type="button" class="btn btn-warning btn-ok">OK</button>
        </div>
      </div>
    </div>
  </script>
  <script type="text/html" id="edit-question">
    <div class="question-card">
      <div class="input-group input-row">
        <span class="input-group-addon" id="basic-addon1">Question</span>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"><%= title %></textarea>
      </div>
      <div class="dropdown input-row">
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"                aria-haspopup="true" aria-expanded="false">
          Question Type
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item type-question-single" href="#">Single option question</a>
          <a class="dropdown-item type-question-multiple" href="#">Multiple options question</a>
        </div>
        <button type="button" class="btn btn-success btn-add-option">Add Option</button>
      </div>
      <% $.each(options, function(key, value) { %>
      <div class="input-row">
        <div class="input-group">
        <span class="input-group-addon">
          <a class="remove-option" href="#"><img src="img/minus-2x.png" alt="-"></a>
        </span>
          <span class="input-group-addon">
          <input type="<%= type %>" class="option-input" name="options-group">
        </span>
          <input type="text" class="form-control" value="<%= value %>">
        </div>
      </div>
      <% }); %>
      <div class="input-row">
        <button type="button" class="btn btn-warning btn-stop">Back to the beginning</button>
        <button type="button" class="btn btn-primary btn-save">Save</button>
        <button type="button" class="btn btn-danger btn-delete">Delete</button>
      </div>
    </div>
  </script>
  <script type="text/html" id="question-option">
    <div class="input-row">
      <div class="input-group">
        <span class="input-group-addon">
          <a class="remove-option" href="#"><img src="img/minus-2x.png" alt="-"></a>
        </span>
        <span class="input-group-addon">
          <input type="<%= questionType %>" class="option-input" name="options-group">
        </span>
        <input type="text" class="form-control">
      </div>
    </div>
  </script>
</head>
<body>
</body>
</html>