/* Main Stylesheet */

body {
  background: url(../img/background.png) no-repeat center center fixed; 
  background-size: cover;
}

/* Header */

.header {
  min-width: 770px;
  height: 36px;
  background: url(../img/upper_panel_mini.png);
}

.header:after {
  display: table;
  clear: both;
  content: "";
}

/* User Menu */

.user-menu {
  margin-right: 20px;
  float: right;
  height: 36px;
}

.user-menu li {
  float: left;
  font-family: Tahoma, Verdana, Segoe, "Geneva CY", sans-serif;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  color: white;
}

.user-name {
  padding: 0px 17px;
}

.user-name a {
  text-decoration: none;
  color: white;
}

.user-name:before {
  margin-right: 10px;
  padding: 6px 0px;
  float: left;
  width: 21px;
  height: 23px;
  content: url(../img/flag.png);
}

.menu-login {
  padding: 0px 13px;
  height: 35px;
  border-bottom: 1px solid rgb(66, 153, 210);
  background: linear-gradient(rgb(81, 177, 220), rgb(46, 122, 196));
}

.menu-login a {
  color: white;
}

.menu-login:before {
  display: block;
  float: left;
  width: 1px;
  height: 35px;
  background: linear-gradient(rgb(100, 168, 227), rgb(67, 153, 211));
  content: "";
}

.menu-login:after {
  display: block;
  float: right;
  width: 1px;
  height: 35px;
  background: linear-gradient(rgb(100, 168, 227), rgb(67, 153, 211));
  content: "";
}

/* Main Menu */

.main-menu {
  float: right;
}

.main-menu li {
  float: left;
}

.main-menu a {
  display: block;
  padding: 0px 13px;
  font-family: Tahoma, Verdana, Segoe, "Geneva CY", sans-serif;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
}

.main-menu a {
  color: rgb(96, 181, 237);
}

.main-menu a:hover {
  background: rgb(78, 171, 218);
  color: white;
}

.main-menu:after {
  display: block;
  float: right;
  margin: 2px 0px 2px 9px;
  width: 1px;
  height: 32px;
  background: rgb(86, 162, 220);
  content: "";
}

/* Content */

.content {
  min-height: 96%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form */

.main-form {
  margin: 20px 0px;
  width: 560px;
}

.form-header {
  height: 62px;
  background-color: rgba(0, 0, 0, 0.63);
  font-size: 24px;
  line-height: 62px;
  color: white;
  text-align: center;
}

.form-body {
  margin-top: 2px;
  padding: 36px 142px 19px;
  background-color: rgba(0, 0, 0, 0.63);
  font-size: 14px;
}

.form-footer {
  padding-bottom: 17px;
  background-color: rgba(0, 0, 0, 0.63);
}

/* Facebook Button */

.btn-facebook {
  display: block;
  position: relative;
  padding-left: 70px;
  height: 35px;
  text-decoration: none;
  border-top: 1px solid rgb(117, 139, 180);
  border-radius: 3px 3px 4px 4px;
  background: linear-gradient(rgb(61, 87, 146), rgb(51, 65, 102));
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 15px;
  line-height: 35px;
  color: white;
}

.btn-facebook:before {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 37px;
  height: 36px;
  content: url(../img/facebook-logo.png);
  line-height: 44px;
  text-align: center;
}

.btn-facebook:after {
  position: absolute;
  top: -1px;
  left: 38px;
  height: 36px;
  border-left: 1px solid rgb(32, 58, 117);
  border-right: 1px solid rgb(77, 104, 171);
  content: "";
}

.btn-facebook p:after {
  position: absolute;
  top: 0;
  right: 25px;
  height: 36px;
  line-height: 38px;
  content: url(../img/right-triangle.png);
}

.btn-facebook b {
  font-weight: bold;
}

.btn-facebook:hover {
  background: linear-gradient(rgb(71, 107, 176), rgb(61, 75, 112));
  box-shadow: 0px 0px 5px 0px rgb(79, 138, 178);
  transition: 0.2s all;
}

.btn-facebook:active {
  background: linear-gradient(rgb(41, 67, 116), rgb(31, 55, 82));
  box-shadow: inset 0px 0px 5px 0px rgb(79, 138, 178);
}

/* Splitter */

.splitter {
  position: relative;
  margin: 30px auto 22px;
  width: 276px;
  height: 16px;
  font-size: 14px;
  color: rgb(153, 153, 153);
  text-align: center;
}

.splitter:before {
  display: block;
  position: absolute;
  top: 6px;
  left: 0px;
  width: 123px;
  border-top: 1px solid rgb(102, 102, 102);
  border-bottom: 1px solid rgb(0, 0, 0);
  content: "";
}

.splitter:after {
  display: block;
  position: absolute;
  top: 6px;
  right: 0px;
  width: 123px;
  border-top: 1px solid rgb(102, 102, 102);
  border-bottom: 1px solid rgb(0, 0, 0);
  content: "";
}

/* Input Fields */

.reg-field {
  display: block;
  margin-top: 19px;
  padding-left: 19px;
  width: 100%;
  height: 35px;
  background-color: black;
  border: none;
  color: white;
  border-bottom: 1px solid rgb(72, 72, 72);
  box-sizing: border-box;
}

.reg-field:hover {
  background-color: rgb(7, 22, 36);
  border-bottom: 1px solid rgb(54, 105, 134);
  box-shadow: 0px 0px 5px 0px rgba(79, 138, 178, 1);
  transition: 0.2s all;
}

.reg-field:focus {
  background-color: rgb(27, 82, 136);
  border-bottom: 1px solid rgb(104, 155, 204);
  box-shadow: 0px 0px 10px 2px rgba(79, 138, 178, 1);
  transition: 0.2s all;
}

/* Agreement Check-box */

.agreement-box {
  display: block;
  margin-top: 19px;
  color: rgb(204, 204, 204);
}

.agreement-box input {
  margin: 0px 6px 0px 0px;
  position: relative;
  top: 2px;
}

/* Create Button */

.btn-create {
  display: block;
  margin: 23px auto 0px;
  width: 151px;
  height: 36px;
  background: linear-gradient(rgb(106, 174, 219), rgb(46, 123, 196));
  border-top: 1px solid rgb(107, 184, 231);
  border-radius: 3px;
  text-decoration: none;
  line-height: 37px;
  color: white;
  text-align: center;
  font-weight: bold;
}

.btn-create:hover {
  background: linear-gradient(rgb(126, 194, 239), rgb(66, 143, 206));
  box-shadow: 0px 0px 5px 0px rgb(79, 138, 178);
  transition: 0.2s all;
}

.btn-create:active {
  background: linear-gradient(rgb(86, 154, 199), rgb(26, 103, 176));
  box-shadow: inset 0px 0px 5px 0px rgb(79, 138, 178);
}

/* Agreement Comment */

.comment {
  font-size: 11px;
  line-height: 16px;
  color: rgb(204, 204, 204);
  text-align: center;
}