/* Main Stylesheet */

body {
  background-color: black;
}

/* Global Container */

.container {
  padding: 57px 70px;
  margin: 0 auto;
  width: 820px;
  height: 769px;
  background-image: url(../img/background.png);
}

/* Header */

.header {
  padding: 0px 2px;
}

.header a {
  display: block;
  float: left;
}

.header img {
  display: block;
}

.header:after {
  display: table;
  content: "";
  clear: both;
}

/* Contacts */

.contacts {
  float: right;
  margin: 87px 17px 0px 0px;
  font-family: Tahoma, Verdana, Segoe, "Geneva CY", sans-serif;
  font-size: 10px;
  line-height: 10px;
  color: white;
}

.contacts p:first-child {
  font-weight: bold;
  line-height: 22px;
}

.contacts p:nth-child(n+2) {
  font-size: 8px;
  line-height: 11px;
}

/* Content */

.country {
  display: inline-block;
  margin-bottom: 47px;
  width: 270px;
  height: 198px;
  position: relative;
}

.country p {
  margin-top: 6px;
  font-family: Tahoma, Verdana, Segoe, "Geneva CY", sans-serif;
  font-size: 15px;
  line-height: 15px;
  color: white;
  text-align: center;
}

.country img {
  display: block;
  margin: 0 auto;
  padding-top: 4px;
  width: 261px;
  height: 178px;
}

.country:after {
  width: 270px;
  height: 188px;
  content: url(../img/border.png);
  position: absolute;
  top: 0;
  left: 0;
}

/* Footer */

.footer {
  margin-top: 145px;
  text-align: center;
  font-family: Tahoma, Verdana, Segoe, "Geneva CY", sans-serif;
  font-size: 10px;
  line-height: 10px;
  color: white;
}