/* Main stylesheet*/

body {
  background-color: black;
}

/* Global Container */

.container {
  padding: 57px 70px;
  margin: 0 auto;
  width: 820px;
  height: 751px;
  background-image: url(../img/background.png);
  position: relative;
  z-index: -1;
}

/* Header */

.header {
  padding: 0px 2px;
}

.contacts {
  float: right;
  margin: 87px 17px 0px 0px;
  font-family: Tahoma, Verdana, Segoe, "Geneva CY", sans-serif;
  font-size: 10px;
  line-height: 10px;
  color: white;
}

.contacts p:first-child {
  font-weight: bold;
  line-height: 22px;
}

.contacts p:nth-child(n+2) {
  font-size: 8px;
  line-height: 11px;
}

/* Content */

.content {
  margin-top: -7px;
  padding: 0px 1px;
}

.country {
  display: inline-block;
  margin: 5px 0px 47px;
  width: 270px;
  height: 198px;
}

.country p {
  font-family: Tahoma, Verdana, Segoe, "Geneva CY", sans-serif;
  font-size: 15px;
  line-height: 12px;
  text-align: center;
  color: white;
}

.country img {
  display: block;
  margin: 0 auto;
  padding-top: 4px;
  width: 261px;
  height: 178px;
  position: relative;
  z-index: -1;
}

.wrapper {
  width: 270px;
  height: 188px;
  background-image: url(../img/border.png);
}

.footer {
  margin-top: 145px;
  text-align: center;
}